@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@100;500&family=Roboto+Slab:wght@300&family=Zen+Antique&display=swap');

body.index{
   display:grid;
width: 100%;
margin: 0;
grid-template-areas: 
"nv nv"
"hd hd"
"hd hd"
"d1 d1"
"d2 d2"
"d3 d3"
"ft ft"; 
}

nav {
    grid-area: nv;
    display: flex;
    justify-content:space-between ;
    height: 5vh;
    background-color: transparent;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
    padding: 5px 5%;
    }

    #loga {
    cursor: pointer;
    display: inline-block; 
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto Mono', bold, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:  #990099;
    }
    #loga a{
        display: inline-block; 
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        padding: 10px;
        font-family: 'Roboto Mono', bold, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color:  #990099;  
        transition: all 0.3s ease 0s; 
    }
    #loga a:hover{
    color: #ff86ff
    }
  .nav_link li a {
    display: inline-block; 
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto Mono', bold, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:  #990099;
    
  }

  .nav_link li {
    display: inline-block;
    padding: 0px 20px;

  }

  .nav_link li a{
    transition: all 0.3s ease 0s;

  }
  
    .nav_link li a:hover{
    color: #ff86ff;}
  
header{
    grid-area: hd;
    height: 80vh;
    background-image: url(/img/bakgrund1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
margin-bottom: 250px;
font-family: 'Arial Narrow Bold', sans-serif;
color: white;
background-color: rgba(255, 0, 242, 0.384);
    padding: 20px;
    border-radius: 50px;

}

.line {
width: 150px;
height: 4px;
background-color: whitesmoke;
margin: 10px auto;
margin-bottom: 30px;
border-radius: 5px;
}
.header-content h2{
    display:flex;
    font-size: 4vmin;
    justify-content: center;
}

.header-content h1{ 
    display:flex;
    justify-content: center;
     font-size: 7vmin;
    margin-bottom: 30px;
}

.header-content h1:hover{
    color: #eb5feb;
    transition: all 0.3s ease-in-out 0s;
}

#del1{
    grid-area: d1;
    display: grid;
    height: 60vh; 
    font-family:'Nunito Sans', sans-serif;
    grid-template-areas: 
    "r1 r2";   
    justify-content:center;
    color: white;
    text-align: center;
    grid-template-rows: 95%;
    margin-top: 20px;
}

.ruta{
    grid-area: r1;
    width: 30em;
    background-color: #ce65c5;
    border-radius: 20%;
    margin-inline-start: 3em;
    margin-inline-end: 5vw;
} 

#ruta_text{
    display: block;
    font-size: 1.5em;
    margin-block-start: 6.5em;
}

.ruta2{
    grid-area: r2;
    width: 30em;
    background-color: #00c3ff;
    margin-inline-start: 3em;
    margin-inline-end: 5vw;
    border-radius: 20%;
    
}

#ruta_text2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 6.5em;
}

button{
    padding: 20px 35px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s ease 0s;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

button:hover {
    background-color: #ffc400;
}

#del2{
    grid-area: d2;
    height: 70vh;
    background-image: url(/img/filosofi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;    


}

#ruta_text_f{
    
    font-size: 3vmin;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;

    background-color: rgba(176, 154, 255, 0.747);
    padding: 20px;
    border-radius: 25px;

    display: block;
    margin-block-start: 1em;
    margin-inline-start: 346px;
    margin-inline-end: 346px;

}

#ruta_text_f:hover {
    font-weight: 400;
    transition: all 1s ease 0s;    
}

#filosofi{
    display: grid;
    justify-content: center;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: -90px;
}

#filosofi:hover{
    color: rgb(176, 154, 255);
    transition: all 0.4s ease-in-out 0s;
}

.line2 {
    width: 250px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 5px;

    display: block;
    margin-block-start: 5em;
    padding:0;
}



#del3{
    grid-area: d3;
    background-color: #ffffff;
    height: 85vh;
    display: grid;
    grid-template-areas:
        "r1 r2 r3"
        "r4 r5 r6";
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#ruta1{
    grid-area: r1;
    padding: 0px;
    background-image: url(/img/bild1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    
}

#ruta2{
    grid-area: r2;
    background-color: rgb(255, 255, 255);
    width: 300px;
    

}

#rubrik_o{
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    
}
#rubrik_o:hover{
    color: rgb(118, 95, 204);
  
    transition: all 0.4s ease-in-out 0s;
}

#oppetider{
    justify-content: center;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    
   
     
}

#ruta3{
    grid-area: r3;
    background-image: url(/img/bild2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;

}

#ruta4{
    grid-area: r4;
    background-color: rgb(255, 255, 255);
    width: 300px;
    
    
}

.rubrik_a{
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
   
    

}
.rubrik_a:hover{
    color: rgb(118, 95, 204);
    transition: all 0.4s ease-in-out 0s;
}

#text_adress{
    justify-content: center;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;

}

#ruta5{
    grid-area: r5;
    background-image: url(/img/bild3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

#ruta6{
    grid-area: r6;
    background-color: white;
    width: 300px;
    
    
}
    
#ruta_text3{
    justify-content: center;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

#button2{
    padding: 20px 35px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    font-size: 2em;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

#button2:hover {
    background-color: #e4a0ff;
    transition: all 0.4s ease-in-out 0s;
}

footer{
    grid-area: ft;
    background-color: #21204b;
    height: 30vh;
    color: white;
    display: grid;
    justify-content: left; 
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kontakt{
   
    font-weight: 400;
    font-size: 3em;
    margin-left: 3em;
    
}

#contact{
    font-weight: 200;
    font-size: 25px;
    margin-left: 4em;
    display: block;
    margin-block-start: -64px;
    width: 20vw;
   }


   body.menu{
    display:grid;
    width: 100vw;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    grid-template-areas: 
    "nv nv"
    "ml ml"
    "mf mf"
    "ft ft";
    
}

#sec1{
    grid-area: se1;
    height: 80vh;
    display: grid;
    background-image: url(/img/bakgrund5.jpg);
    background-position: center;
    background-size: cover;

    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;

    justify-content: center;
    align-items: start;
    align-content: center;
    justify-items: center;
    
}

#sec1 h3{
    font-size: 3vmin;
}

#sec1 h2{
    font-size: 4vmin;
}

#sec1 h1{
    font-size: 7vmin;
    margin-bottom: 3px;
   
}
.huvudrubrik{
    background-color: rgba(37, 39, 153, 0.418);
    padding: 30px;
    border-radius: 50px;
}

.menu_list{
    grid-area: ml;
    height: 60vh;
    display: grid;
    grid-template-areas: "jm ch";
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-items: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.jam{
    grid-area: jm;
}

.jam h1{
    font-size: 5vmin;
}

.chocolate{
    grid-area: ch;
}

.chocolate h1{
    font-size: 5vmin;
}

.menu_frukt{
    grid-area: mf;
    height: 50vh;
    display: grid;
    grid-template-areas: 
    "fb fb fb"
    "ft ft ft";

    font-family: Arial, Helvetica, sans-serif;
}

.frukt_bilder{
    grid-area: fb;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}

.frukt_text{
    grid-area: ft;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 60px;
    
}

body.omoss{
    display:grid;
    width: 100vw;
    margin: 0;
    background-color: rgb(255, 255, 255);
    grid-template-areas: 
    "nv nv"
    "s1 s1"
    "mn mn"
    "bb bb"
    "s2 s2"
    "ft ft";
    
}


#section1{
grid-area: s1;
height: 80vh;
display: grid;
background-image: url(/img/bakgrund3.jpg);
background-position:center;
background-size: cover;
display: flex;
align-items: flex-end;
justify-content: center; 
text-align: center;

}

.linje{
    width: 150px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 5px;

  
}
.section{
    margin-bottom: 250px;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: white;
    background-color: rgba(167, 0, 0, 0.384);
    padding: 20px;
    border-radius: 50px;

}

.section h2{
    font-size: 4vmin;
   
}

.section h1{
font-size: 7vmin;
display: block;
margin-bottom: 10px;
}

.section h1:hover{
    color: rgb(238, 234, 1);
    transition: all 0.4s ease-in-out 0s;
}

.section h3{
font-size: 3vmin;
display: block;
margin-top: 30px;
}

main{
    grid-area: mn;
    height: 60vh;
    display: grid;
    grid-template-areas: "nt b";
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: center;

}

.bild{
grid-area: b;
border-radius: 20px;
margin-left: -28em;
}

#nordic_taste{
    grid-area: nt;
    background-color: rgba(0, 8, 83, 0.986);
    text-align: center;
    width: 10em;
    padding: 60px;
    font-size: 50px;
    display: block;
    color: white;
    margin-left: 1.5em;
    border-radius: 20px;
    font-family: "Open Sans Condensed script=latin rev=2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
 
}

.bakgrundsbild{
    grid-area: bb;
    height: 50vh;
    background-image: url(/img/bakgrund4.jpg);
    background-position:center;
background-size: cover;
}

#se2{
    grid-area: s2;
    height: 60vh;
    display: grid;
    grid-template-areas: "o a";
    justify-content: center;
    align-items: start;
    align-content: center;
    justify-items: center;
    text-align: center;
    color: rgb(5, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5vmin;
    grid-gap: 30px;

}

.open{
grid-area: o;
width: 450px;
justify-content: center;
padding:10px;



}

.section02{
    grid-area: a;
    width: 450px;
    justify-content: center;
    padding:10px;

}




