@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@100;500&family=Roboto+Slab:wght@300&family=Zen+Antique&display=swap');

#wrapper{
display:grid;
width: 100%;
height: 200vh;
margin: 0;
grid-template-areas: 
"nv nv"
"hd hd"
"hd hd"
"d1 d1"
"d2 d2"
"d3 d3"
"ft ft";


}

nav {
    grid-area: nv;
    height: 5vh;
    background-color: #c6c5f8;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

  .nav_link li {
    display: inline-block;
    font-size: 10px;
    padding: 10px;
    text-decoration: none;
  }

header{
    grid-area: hd;
    height: 100vh;
    background-color: #aaa9dd;
    

}

#del1{
    grid-area: d1;
    background-color: #c4c3ff;
}

#del2{
    grid-area: d2;
    background-color: #3c3a85;
}

#del3{
    grid-area: d3;
    background-color: #c4c3ff;
}

footer{
    grid-area: ft;
    background-color: #21204b;

}